  <footer role="footer">
  	<!-- logo -->
  	<h1>
  		<a href="/" title="Easy Recipeasy"><%=image_tag("logo.png")%></a>
  	</h1>
    <!--
  	<ul role="social-icons">
  		<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  		<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
  		<li><a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
  	</ul> -->
  	<p class="copy-right">&copy; 2018  Alex Xie </p>
  </footer>